<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Version Number" value="4.6"/>
    <add key="Output Folder" value="C:\FilterOutput\ADDITIONAL-FILES\StyleSheets\"/>
  </appSettings>
  <connectionStrings>
    <add name="prod" connectionString="YourConnectionString"/>
  </connectionStrings>
</configuration>