<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Version Number" value="4.6"/>
    <add key="Output Folder" value="C:\FilterOutput\"/>
    <add key="Ninja League" value="tmpstandard"/>
	  <add key="Ninja Request URL" value="http://poeninja.azureedge.net/api/Data/"/>
  </appSettings>
  <connectionStrings>
    <add name="prod" connectionString="YourConnectionString"/>
  </connectionStrings>
</configuration>